$img:'../img/m-h-night.jpg';
$paddingLeft: 100px;
$headerHeight: 82vh;
$fullWidth: 100vmax;
$fontSize:
(
    xs-small: 0.5vw,
    x-small: 0.8vw,
    small: 1vw,
    normal:  1.25vw,
    medium: 1.63vw,
    large: 2.4vw,
    x-large: 3.8vw
);
$fresca: Fresca, sans-serif;
$source: "Source Sans Pro", sans-serif;
$hind: Hind, sans-serif;
$mainColor: #ffffff;
$contentBackground: #3b3f50;
$mainBackground: #21232e;
$headerColor: #ffffff;
$buttonColor: #e3ac00;
$buttonTextColor: #ffffff;
$linkColor: #ffffff;
$greatingColor: #ffffff;
$titleColor: #ffffff;
$textColor:  #bbb8b4;
$rightGradient: #912b53;
$leftGradient: #e6ad00;
$awesomeBackground: linear-gradient(#ff4e33, #ff4e33) 0% 100% / 4.3em 0.7em;
$adventureBackground: linear-gradient(#ff4e33, #ff4e33) 95% 0% / 4.3em 0.85em;
$startBackground: linear-gradient(#ff4e33, #ff4e33) 48% 0% / 2.2em 1.2em;